header.site-header#siteHeaderJS
  .container
    .row
      .branding
        a(href="/").logo#siteHeaderLogoJS AH
      nav
        a(href="/") Главная
        a(href="/projects.html") Проекты
        a(href="/#services") Услуги
        a(href="/#about") О нас
        a(onclick="openPopup();return false;" href="#") Контакты
      button(onclick="openPopup();").btn Оставить заявку