section.section.section--intro
  .isolayer.isolayer--deco1.isolayer--shadow
    ul.grid
    
      -for( var $i in [1,2,3,4] )
    
        li.grid__item
          a.grid__link(href='//xxl.ua')
            .layer
            .layer
            .layer
            img.grid__img.layer(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/905112/xxlua2-400x300.png', alt='01')
        li.grid__item
          a.grid__link(href='//xxl.ua')
            .layer
            .layer
            .layer
            img.grid__img.layer(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/905112/xxlua3-400x300.png', alt='02')
        li.grid__item
          a.grid__link(href='//xxl.ua')
            .layer
            .layer
            .layer
            img.grid__img.layer(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/905112/xxlua4-400x300.png', alt='03')
        li.grid__item
          a.grid__link(href='https://pink.ua')
            .layer
            .layer
            .layer
            img.grid__img.layer(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/905112/pinkua-400x300.png', alt='07')
        li.grid__item
          a.grid__link(href='https://pink.ua')
            .layer
            .layer
            .layer
            img.grid__img.layer(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/905112/pinkua2-400x300.png', alt='08')

