section.hero
  .container
    .row.slide-ksc.align-items-center
      .col-md-6
        .text
          h2 Качественная
            .lead Разработка веб-сайтов 
          .buttons
            a(href="#works", data-tilt, data-tilt-scale="1.1").btn Cмотреть портфолио
      .col-md-6.imagesWrap(data-tilt)
        .images
          img(src="https://horbenko.com/mockups/slide-ksc-desktop.png").desk
          img(src="https://horbenko.com/mockups/slide-ksc-desktop-hd.png").deskHd
  
  //- https://picsum.photos/200/300/?gravity=east
