section#services
  .container
    h2 Services
    .row
      .services-item
         h3 Landing page
         p It is a single web page, created specifically for the purposes of a marketing or advertising campaign.
         p.readMore
           a(href='./landing.html') View examples
      .services-item
          h3 Business Card Website
          p Having business card website is a great way to promote yourself in the world wide web.
      .services-item
          h3 Small Business Website
          p Having a website is a great way of promoting your small business and reaching more customers.
      .services-item
          h3 Business / Corporate Website
          p Get a professional website that grows with your business for an established online presence.
      .services-item
          h3 Magazine, News
          p Magazines and news are the staple of the advertisement industries. Just as fashion and technologies keep rediscovering themselves.
      .services-item
          h3 Portfolio, Blog
          p Best way to show your artwork, pictures, resume or any of your skills. Normally they have a gallery layout for post and space for personal information.
      .services-item
          h3 eCommerce, online shop
          p Lorem ipsum ..
      .services-item
          h3 Web Application
          p It is a client–server computer program in which the client (including the user interface and client-side logic) runs in a web browser.
    p More about 
      a(href='/about.html') prices